.content::before{
   display: none;
}
.columns__links{
   padding: 0px 32px 60px 32px;
}
.columns__link{
   height: 90px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.columns__text{
   width: 75%;
   font-family: ALS Hauss;
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
}
.columns__text h2{
   width: 90%;
   font-family: ALS Hauss;
   font-weight: 500;
   font-size: 17px;
   line-height: 24px;
   text-align: left;
   letter-spacing: 0;
   text-transform: none;
   padding: 0px;
}
.columns__lines{
   content: "";
   width: 74.5%;
   height: 1px;
   background-color: #C4C4C4;
}
body.letsee-active.bonw .columns__lines:not(.letsee-guard) {
   background-color: #000 !important;
}
body.letsee-active.wonb .columns__lines:not(.letsee-guard) {
   background-color: #fff !important;
}
.columns__lines_mobile{
   display: none;
}
.columns__upload{
   padding: 0px 0px 0px 20px;
}
.columns__button p{
   padding: 6px 0px 0px 0px;
   font-size: 12px;
   font-weight: 500;
   line-height: 16px;
   letter-spacing: 0.5em;
   text-transform: uppercase;
}
.columns__add p{
   width: 100px;
   display: flex;
   align-items: center;
   background: url(../img/download.svg) left no-repeat;
   padding: 15px 125px 15px 70px;
}
.columns__add p:hover, .columns__add p:active{
   width: 100px;
   background: url(../img/downloadh.svg) left no-repeat;
   padding: 15px 125px 15px 70px;
   transition: width 0.1s ease-in-out;
}
.columns__container{
   opacity: 1;
}
.columns__container.hide{
   opacity: 0;
}
.columns__download, .columns__professional{
   font-family: "ALS Hauss";
   font-weight: normal;
}
@media (max-width: 768px) {
   .columns__lines_mobile{
      display: block;
      content: "";
      height: 1px;
      background-color: #C4C4C4;
   }
   .columns__links {
      padding: 0px 20px 20px 20px;
   }
   .columns__lines{
      width: 100%;
   }
   .columns__link {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: start;
   }
   .columns__text{
      width: 100%;
      font-family: ALS Hauss;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 19px;
      padding: 15px 0px 0px 0px;
   }
   .columns__text h2{
      padding: 0px;
   }
   .columns__upload{
      width: 100%;
      padding: 0px;
   }
   .columns__add{
      padding: 1px 0px 1px 1px;
   }
   .columns__add p{
      font-family: "ALS Hauss";
      font-weight: 500;
      font-size: 10px;
      letter-spacing: 0.5em;
      padding: 18px 0px 20px 50px;
      background: url(../img/downloadm.svg) left no-repeat;
      transition: width 0.1s ease-in-out;
   }
   .columns__add p:hover{
      font-family: "ALS Hauss";
      font-weight: 500;
      font-size: 10px;
      letter-spacing: 0.5em;
      padding: 18px 0px 20px 50px;
      background: url(../img/downloadmh.svg) left no-repeat;
      transition: width 0.1s ease-in-out;
   }
}
@media (max-width: 880px) and (min-width: 769px){
   .columns__lines{
      width: 70%;
   }
}