.content::before{
   display: none;
}
body.letsee-active.bonw #letsee-panel {
   border-top: 1px solid #000;
   border-bottom: none;
}
body.letsee-active.wonb #letsee-panel {
   border-top: 1px solid #fff;
   border-bottom: none;
}
.columns__faq h2{
   font-family: PF Din Text Comp Pro;
   font-weight: normal;
   font-size: 35px;
   text-align: center;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   padding: 65px 0px 30px 0px;
}
.columns__faq p{
   max-width: 1009px;
   font-family: PF Din Text Comp Pro;
   font-weight: normal;
   font-size: 24px;
   line-height: 33px;
   margin: 0 auto;
   text-align: center;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   padding: 0px 0px 60px 0px;
}
.columns__links{
   max-width: 989px;
   margin: 0 auto;
   padding: 0px 20px 0px 20px;
}
.columns__link{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}
.columns__text{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: ALS Hauss;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
}
.columns__blocks{
   height: 90px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.columns__blocks ul li{
   list-style: disc;
}
.columns__text h2{
   width: 80%;
   font-family: ALS Hauss;
   font-weight: 500;
   font-size: 17px;
   line-height: 24px;
   text-align: left;
   letter-spacing: 0;
   text-transform: none;
   padding: 0px;
}
.columns__text h3{
   padding: 0px 0px 20px 0px;
}
.columns__text li{
   padding: 0px 0px 5px 0px;
}
.columns__hide{
   display: none;
}
.columns__text_hide.hide{
   padding: 0px 0px 20px 0px;
   font-family: ALS Hauss;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
}
.columns__text ol {
   padding-left: 0
}
.columns__text ol li {
   list-style-position: inside;
}
.columns__block, .columns__block p{
   margin-left: 0px;
   width: 100%;
   padding: 0px 0px 5px 0px;
   font-family: ALS Hauss;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   text-transform: unset;
   text-align: left;
   letter-spacing: 0em;
}
.columns__hide a{
   border-bottom: 1px solid #11305D;
   padding-bottom: 1px;
}
body.letsee-active.bonw .columns__hide a{
   border-bottom: 1px solid #000;
   }
body.letsee-active.wonb .columns__hide a{
   border-bottom: 1px solid #fff;
}
.columns__text_hide.hide .columns__hide{
   display: block;
   width: 100%;
   height: 100%;
   padding: 0px 45px 0px 0px;
}
.columns__lines{
   content: "";
   width: 92%;
   height: 1px;
   background-color: #C4C4C4;
}
body.letsee-active.bonw .columns__lines:not(.letsee-guard) {
   background-color: #000 !important;
}
body.letsee-active.wonb .columns__lines:not(.letsee-guard) {
   background-color: #fff !important;
}
.columns__upload{
   padding: 0px;
}
.columns__upload.columns__upload_hide{
   display: flex;
   align-items: flex-start;
}
.columns__upload.columns__upload_hide.hide{
   display: flex;
   align-self: flex-start;
}
.columns__add{
   background: url(../img/open_link.svg) left no-repeat;
   padding: 0px 0px 45px 45px;
}
.columns__add_hide{
   background: url(../img/open_link.svg) left no-repeat;
   padding: 0px 0px 45px 45px;
}
.columns__add_hide.hide{
   background: url(../img/close_link.svg) left no-repeat;
   padding: 0px 0px 45px 45px;
}
body.letsee-active.wonb .columns__add {
   background: url(../img/open_link_wonb.svg) left no-repeat;
 }
 body.letsee-active.wonb .columns__add_hide{
   background: url(../img/open_link_wonb.svg) left no-repeat;
 }
 body.letsee-active.wonb .columns__add_hide.hide {
   background: url(../img/close_link_wonb.svg) left no-repeat;
 }
.columns__container{
   opacity: 1;
}
.columns__container.hide{
   opacity: 0;
   margin-top: 150px;
}
.columns__download, .columns__professional{
   font-family: "ALS Hauss";
   font-weight: normal;
}
@media (max-width: 768px) {
   body.letsee-active.bonw #letsee-panel, body.letsee-active.wonb #letsee-panel {
      border: none;
   }
   .columns__links {
      padding: 0px 20px 0px 20px;
   }
   .columns__link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
   }
   .columns__text{
      padding: 0px;
      margin: 0;
      font-family: ALS Hauss;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 15px;
   }
   .columns__blocks{
      height: 70px;
   }
   .columns__text_hide.hide{
      padding: 0px 0px 20px 0px;
      font-family: ALS Hauss;
      font-weight: normal;
      font-size: 10px;
      line-height: 15px;
   }
   .columns__text h2{
      width: 80%;
      font-family: ALS Hauss;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 19px;
      padding: 0px;
   }
   .columns__block, .columns__block p{
      margin-left: 0px;
      width: 100%;
      padding: 0px 0px 5px 0px;
      font-family: ALS Hauss;
      font-weight: normal;
      font-size: 10px;
      line-height: 15px;
   }
   .columns__add{
      background: url(../img/open_linkm.svg) right no-repeat;
      padding: 20px 0px 20px 30px;
   }
   .columns__add_hide.hide{
      background: url(../img/close_linkm.svg) right no-repeat;
      padding: 37px 0px 20px 30px;
   }
   body.letsee-active.wonb .columns__add {
      background: url(../img/open_linkm_wonb.svg) left no-repeat;
    }
    body.letsee-active.wonb .columns__add_hide{
      background: url(../img/open_linkm_wonb.svg) left no-repeat;
    }
    body.letsee-active.wonb .columns__add_hide.hide {
      background: url(../img/close_linkm_wonb.svg) left no-repeat;
    }
   .columns__link_5, .columns__link_6, .columns__link_7, .columns__link_8, .columns__lines_none{
      display: none;
   }
}
@media (max-width: 450px) and (min-width: 320px){
   .columns__lines{
      width: 85%;
      margin: 0;
   }
}