body.letsee-active{
   -webkit-filter: grayscale(1) contrast(100%) brightness(100%);
   filter: grayscale(1) contrast(100%) brightness(100%);
}
body.letsee-active .content::before{
   display: none;
}
body.letsee-active .header__blind p{
   background: url(../img/versionh.svg) left no-repeat;
}
body.letsee-active .columns__info,
body.letsee-active .columns__info div,
body.letsee-active .columns__info h1,
body.letsee-active .columns__info h2,
body.letsee-active .columns__info h5,
body.letsee-active .columns__info p,
body.letsee-active .container__footer,
body.letsee-active .container__footer div,
body.letsee-active .container__footer li,
body.letsee-active .container__footer a,
body.letsee-active .container__footer span,
body.letsee-active .footer__copy,
body.letsee-active .columns__fix,
body.letsee-active .columns__fix div,
body.letsee-active .columns__fix a{
   background-color: #000 !important;
   color: #fff !important;
}
#letsee-panel {
   
   display: none;
   top: 15px;
   height: 230px;
   width: 100%;
   margin: 0;
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
   font-size: 24px;
   line-height: 1.6;
   text-align: center;
   text-transform: uppercase;
}
body.letsee-active #letsee-panel {
   display: block;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
#letsee-panel * {
   user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   vertical-align: middle;
}
.letsee-block{
   flex: 0 0 200px;
}
.title{
   font-style: 30px;
   margin: 0px 0px 30px 0px;
}
#letsee-panel a {
   display: inline-flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.letsee-change-fontsize {
   padding: 0px;
   margin: 0 8px;
   border: 2px solid transparent;
   text-decoration: none !important;
}
.letsee-fontsize-small  { font-size: 28px !important; text-transform: lowercase; }
.letsee-fontsize-medium { font-size: 30px !important; }
.letsee-fontsize-large  { font-size: 40px !important; }
.letsee-change-fontsize {
   display: block;
   width: 50px;
   height: 50px;
   border: 2px solid #000;
   border-radius: 10px;
}
.letsee-active.bonw .letsee-fontsize-active {
   background: #000;
   color: #fff;
}
.letsee-active.wonb .letsee-fontsize-active{
   background: #fff;
   color: #000;
}
.letsee-colors span {
   padding: 0 5px;
   margin: 0 2px;
   font-size: 120%;
   border-radius: 4px;
}
.letsee-colors-bonw { color: #000 !important; background-color: #fff; margin-right: 10px;}
.letsee-colors-wonb { color: #fff !important; background-color: #000; margin-left: 10px;}
.letsee-colors {
   text-decoration: none !important;
   display: inline-block;
   width: 50px;
   height: 50px;
   border: 2px solid #000;
   border-radius: 10px;
}
.letsee-colors-bonw.letsee-colors-active {
   background: url(../img/check_black.svg) center no-repeat;
}
.letsee-colors-wonb.letsee-colors-active {
   background: url(../img/check_white.svg) center no-repeat;
   border: 2px solid #fff;
}
label{
   display: inline-flex;
   flex-direction: column;
   align-items: center;
}
input#letsee-hide-images{
   display: none;
}
.letsee-off, .letsee-on{
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   height: 50px;
   border: 2px solid #000;
   border-radius: 10px
}
.letsee-off {
   display: none;
}
input:checked ~ .letsee-on {
   display: none;
}
input:checked + .letsee-off {
   display: block;
   display: flex;
   justify-content: center;
   align-items: center;
}
.letsee-turn-off {
   margin-left: 60px;
}
@media (max-width: 768px){
   body.letsee-active #letsee-panel{
      display: flex;
      flex-direction: column;
      height: auto;
   }
   body.letsee-active .header__img{
      width: auto;
      height: auto;
   }
}